/* ===== ESTILOS GENERALES ===== */
/* Reset básico para eliminar márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/* Estilos para la barra de agregar y buscar */
.gestion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 16px 0; 
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.gestion-header .search-input {
  max-width: 350px;
  width: 100%;
}

.gestion-header .btn-agregar {
  margin-left: 0;
}
/* Fin de estilos para la barra de agregar y buscar */

.gestion-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

.gestion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}

.gestion-header .search-input {
  max-width: 350px;
  width: 100%;
}

.gestion-header .btn-agregar {
  margin-left: 24px;
}

.gestion-table-container {
  width: 990%;
  overflow-x: auto; /* Para permitir scroll horizontal si se desborda */
}
