.form-base-catastral {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .form-row {
    grid-template-columns: 1fr;
  }
}