/* Asegura que html y body ocupen toda la altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Contenedor raíz de la página */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Zona donde va el contenido principal */
.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos generales */
.login-page {
    background-image: url(../assets/fondo_inicioSesion.jpg);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Contenedor principal del formulario */
.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Tarjeta de inicio de sesión */
.contenedor-inicio-sesion {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(240, 240, 240, 0.1);
    width: 320px;
    text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-boton {
    background: var(--color-verde) !important;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;
}

.modal-boton:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.modal-box {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
}