/* pantallaPrincipal.css */

/* Asegura que html y body ocupen toda la altura y sin márgenes */
body, html {
    height: 100%; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
}
/* Fondo y centrado de contenido */
.background-image {
    background-image: url('../assets/fondo_Ixtlán.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-content {
    flex-grow: 1; /* Hace que el contenido crezca y ocupe el espacio disponible */
}
/* Caja de contenido */
.content-box {
    padding: 25px;
    border-radius: 30px;
}

/* Título principal */
h1 {
    color: whitesmoke;
    font-size: 2.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Subtítulos y textos */
.subtitle,
.city,
.slogan {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    margin: 5px 0;
}

.subtitle {
    font-size: 1.5em;
}

.city {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.slogan {
    font-size: 1em;
}
